<%- include("partials/header.ejs") %>
    <h1>Poetry Forms</h1>
    <!-- show the poetry forms here -->
    <ul id="poetry-forms">
        <% poetryForms.forEach(form => { %>
            <li>
                <div class="card-col over-flow">
                    <h6>
                        <%= form.Title %>
                    </h6>
                    <span >
                        <%= form.Description %>
                    </span>
                </div>
                <div class="crud-full-width">
                    <button title ="Edit" class="edit-post links btn btn-light btn-sm" ><i class="far fa-edit" aria-hidden="true"></i></i> Edit</button>
                    <button title ="Delete" class="del-post links btn  btn-light btn-sm" ><i class="fas fa-backspace" aria-hidden="true"></i> Delete</button>
                </div>                
                <hr>
            </li>
        <% });%>

    </ul> 
<%- include("partials/footer.ejs") %>